
<div class="container-create">
<h1 class="crear">Crea un producto</h1>
<form action="/product/create" method="post" enctype="multipart/form-data">
    <div class="name">
    <label  for="name">Name</label>
    <input class="input" type="text" name="name">
    </div>
    <div class="price">
    <label for="price">Price</label>
    <input class="input"  type="text" name="price">
    </div>
    <div class="number">
    <label for="number">Teléfono</label>
    <input class="input"  value="+34" type="text" name="tel">
    </div>
    <div class="image">
    <label for="image">Image</label>
    <input type="file" name="image">
    </div>
    <button class="button-crear"><p class="text-crear">Crear</p></button>
</form>
</div>
